.burgerconstructor {
  width: calc((100% - 80px) / 2);
  
  height: 620px;

  margin: 0;
  padding: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #131316;
}

.burgerConstructorList {
  height: 289px;
  width: 580px;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content:flex-start;
  align-items:flex-start;

}

.ingradientslist {
  width: 560px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.bun {
  width: 560px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.summa {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.image {
  margin: 0;
  padding: 0;
  margin-right: 40px;
  margin-left: 8px;
}

