.profile {
  margin: 0;
  width: 100%;
  height: 575px;
  margin-top: 150px;
  padding: 0;
   
  display: grid;
  grid-template-columns: 320px 480px;
  grid-gap: 80px;
  justify-items:flex-start;
  align-items:flex-start;
  background-color: rgba(0, 0, 0);

}

.userForm{
    display: flex;
    flex-direction: column;

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: right;
}