.app {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 1280px;
  background-color: #131316;
  color: #f2f2f3;
}