.orderString {
 margin: 0;
 padding: 0;
 margin-bottom: 20px;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  text-align: left;
  background-color: rgba(28, 28, 33, 1);
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.datanamber {
  width: calc(100% - 40px);
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.summa {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  width: calc(100% - 40px);
  margin: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.preview {
  height: 64px;
  width: 64px;
  z-index: 0;
background-color: rgba(28, 28, 33, 1);
  border-radius: 100px;
  position: relative;
  border: 2px solid #0c1ccb;
  display: flex;
  margin-left: -20px;
}

.previewImage {
  max-width: 112px;
  position: relative;
  right: -24px;
  z-index: 0;
}
.restIngredients {
  margin: 0;
  padding: 0;
  height: 64px;
  width: 64px;
  background-color: #131316;
  border-radius: 100px;
  position: absolute;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  z-index: 5;
  opacity: 80%;
}
.textblue{
  color: aqua;
}


.ingredients {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 10px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  direction: rtl;
}

.summ {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.details {
  margin: 0;
  padding: 0;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
