.singleIngredient {
  margin: 0;
  width: 640px;
  height: 575px;
  margin-top: 80px;
  padding: 0;
   
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #131316;
}
