.appheader{
    width: 100%;
    height: 88px;
    border: 2px;
    margin: 0;
    padding: 0;
    background-color: rgba(28, 28, 33, 1);
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    border: 2px solid  #4C4CFF;
}  

.headerblockleft{
    width: calc(100%/3);
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.headerblockcentr{
    width: calc(100%/3);
    display: flex;
     
    flex-direction: row;
    justify-content: center;
   
}


.headerblockright{
    width: calc(100%/3);
    display: flex; 
    flex-direction: row;
    justify-content: right;
    
}